*{
    Margin:0;
    Padding:0;
    box-sizing: border-box;
    }
header{
    background-color:#AED8E6;
    height: 100px;
    width: 100%;
}
.navbar{
    height: 50%;
    width: 60%;
    background-color:#DAA521 ; 
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-container{
    height: 600px;
    width: 100%;
    background-color: #03008B;
}
.central{
    height: 80%;
    width: 40%;
    background-color: #EE81EE;
}
.border{
    border-style: dashed;
}
.dual-box{ 
    height: 600px;

}
.first-box{
    height: 80%;
    width: 30%;
    background-color: #1D91FF ;
}
.second-box{
    height: 80%;
    width: 20%;
    background-color:#FEC0CB;
}
.grey{
    background-color: #D3D3D3;
}
.second-container{
    height: 1100px;
    width: 100%;
}
.square{
    height: 90%;
    width: 50%;
    background-color: #238B21;
}
.third-container{
    height: 800px;
    width: 100%;
    background-color: #23272A;
}
.rectangle{
    height: 90%;
    width: 15%;
    background-color: #EF8080;
}
.column{
    height: 90%;
    width: 9%;
    background-color: #22B2AA;
}
.border-white{
    border-style: dashed;
    color: white;
}
hr{
    background-color: #D3D3D3;
}
footer{
    background-color: #23272A;
    height: 100px;
    width: 100%;
}
.footer-container{
    height: 70%;
    width: 50%;
    background-color: #7FFFD3;
}
.flex-text{
    display: flex;
    justify-content: space-between;
   
    background-color: #FEC0CB;
    height: 60%;
}